@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
  margin-top: 6rem;
  @apply md:mt-16;
}

// Navbar

.app_title {
  font-family: Lugrasimo;
  font-weight: bold;
}

.navbar {
  position: absolute;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

//categories
.categories_list {
  &::-webkit-scrollbar {
    height: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(grey, 0.5);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: orange;
  }
}

.recipe-card {
  animation: AppearSlowOnScreen 1s;
}

@keyframes AppearSlowOnScreen {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
